# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gdb_history
*.dSYM


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Compiled class file
*.class


# Mac
.DS_Store
.*.*swp
